@{
    ViewBag.Title = "Easy Events - Venues, Function halls, Catering, Decoration in Vijayawada";
}

<div class="slider-1 clearfix">
   
     <div class="flex-container">
       <div class="flexslider loading">
        <ul class="slides">
          <li style="background:url(../../Images/slider-bg-1.jpg) no-repeat;background-position:50% 0">
          
           <div class="contain">
                       
             <h2 data-toptitle="20%">Invention Theme for Business Agency and Creative Portfolios</h2>
             <p data-bottomtext="39%">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
             standard dummy text ever since the 1500s</p>
             <div class="links" data-bottomlinks="20%">
               <a href="#" class="button medium normal">Read More</a>
               <a href="#" class="button medium color">Purchase Now</a>
             </div>
             
             <img src="../../Images/home/venue.JPG" class="item"  data-topimage="16%"/>
           
           
         </div><!-- End Container -->
          
          </li><!-- End item -->
          
          
          <li style="background:url(../../Images/slider-bg-1.jpg) no-repeat; background-position:50% 0">
          
         <div class="contain">
            
             <h2 data-toptitle="20%">Invention Theme for Business Agency and Creative Portfolios</h2>
             <p data-bottomtext="39%">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
             standard dummy text ever since the 1500s</p>
             <div class="links" data-bottomlinks="20%">
               <a href="#" class="button medium normal">Read More</a>
               <a href="#" class="button medium color">Purchase Now</a>
             </div>
             
             <img src="../../Images/home/catering.JPG" class="item" data-topimage="8%"/>
           
           
         </div><!-- End Container -->
          
         </li><!-- End item -->
         
         
         <li style="background:url(../../Images/slider-bg-1.jpg) no-repeat; background-position:50% 0">
          
          <div class="contain">
            
             <h2 data-toptitle="20%">Invention Theme for Business Agency and Creative Portfolios</h2>
             <p data-bottomtext="39%">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
             standard dummy text ever since the 1500s</p>
             <div class="links" data-bottomlinks="20%">
               <a href="#" class="button medium normal">Read More</a>
               <a href="#" class="button medium color">Purchase Now</a>
             </div>
             
             <img src="../../Images/home/decoration.JPG" class="item" data-topimage="9%"/>
           
          
         </div><!-- End Container -->
          
         </li><!-- End item -->         
         
        </ul>
       </div>
      </div>
     
   </div><!-- End slider -->


<script type="text/javascript">
 
</script>